pipeline/unstatistic-extract-population.json
{
	"name": "unstatistic-extract-population",
	"properties": {
		"activities": [
			{
				"name": "Copy popelation",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SP Log Pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE  TABLE  [staging].[countriesref_untyped]",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Country Name",
									"type": "String"
								},
								"sink": {
									"name": "CountryName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Country Code",
									"type": "String"
								},
								"sink": {
									"name": "CountryCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Indicator Name",
									"type": "String"
								},
								"sink": {
									"name": "IndicatorName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Indicator Code",
									"type": "String"
								},
								"sink": {
									"name": "IndicatorCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1960",
									"type": "String"
								},
								"sink": {
									"name": "1960",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1961",
									"type": "String"
								},
								"sink": {
									"name": "1961",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1962",
									"type": "String"
								},
								"sink": {
									"name": "1962",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1963",
									"type": "String"
								},
								"sink": {
									"name": "1963",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1964",
									"type": "String"
								},
								"sink": {
									"name": "1964",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1965",
									"type": "String"
								},
								"sink": {
									"name": "1965",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1966",
									"type": "String"
								},
								"sink": {
									"name": "1966",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1967",
									"type": "String"
								},
								"sink": {
									"name": "1967",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1968",
									"type": "String"
								},
								"sink": {
									"name": "1968",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1969",
									"type": "String"
								},
								"sink": {
									"name": "1969",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1970",
									"type": "String"
								},
								"sink": {
									"name": "1970",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1971",
									"type": "String"
								},
								"sink": {
									"name": "1971",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1972",
									"type": "String"
								},
								"sink": {
									"name": "1972",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1973",
									"type": "String"
								},
								"sink": {
									"name": "1973",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1974",
									"type": "String"
								},
								"sink": {
									"name": "1974",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1975",
									"type": "String"
								},
								"sink": {
									"name": "1975",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1976",
									"type": "String"
								},
								"sink": {
									"name": "1976",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1977",
									"type": "String"
								},
								"sink": {
									"name": "1977",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1978",
									"type": "String"
								},
								"sink": {
									"name": "1978",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1979",
									"type": "String"
								},
								"sink": {
									"name": "1979",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1980",
									"type": "String"
								},
								"sink": {
									"name": "1980",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1981",
									"type": "String"
								},
								"sink": {
									"name": "1981",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1982",
									"type": "String"
								},
								"sink": {
									"name": "1982",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1983",
									"type": "String"
								},
								"sink": {
									"name": "1983",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1984",
									"type": "String"
								},
								"sink": {
									"name": "1984",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1985",
									"type": "String"
								},
								"sink": {
									"name": "1985",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1986",
									"type": "String"
								},
								"sink": {
									"name": "1986",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1987",
									"type": "String"
								},
								"sink": {
									"name": "1987",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1988",
									"type": "String"
								},
								"sink": {
									"name": "1988",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1989",
									"type": "String"
								},
								"sink": {
									"name": "1989",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1990",
									"type": "String"
								},
								"sink": {
									"name": "1990",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1991",
									"type": "String"
								},
								"sink": {
									"name": "1991",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1992",
									"type": "String"
								},
								"sink": {
									"name": "1992",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1993",
									"type": "String"
								},
								"sink": {
									"name": "1993",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1994",
									"type": "String"
								},
								"sink": {
									"name": "1994",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1995",
									"type": "String"
								},
								"sink": {
									"name": "1995",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1996",
									"type": "String"
								},
								"sink": {
									"name": "1996",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1997",
									"type": "String"
								},
								"sink": {
									"name": "1997",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1998",
									"type": "String"
								},
								"sink": {
									"name": "1998",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "1999",
									"type": "String"
								},
								"sink": {
									"name": "1999",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2000",
									"type": "String"
								},
								"sink": {
									"name": "2000",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2001",
									"type": "String"
								},
								"sink": {
									"name": "2001",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2002",
									"type": "String"
								},
								"sink": {
									"name": "2002",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2003",
									"type": "String"
								},
								"sink": {
									"name": "2003",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2004",
									"type": "String"
								},
								"sink": {
									"name": "2004",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2005",
									"type": "String"
								},
								"sink": {
									"name": "2005",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2006",
									"type": "String"
								},
								"sink": {
									"name": "2006",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2007",
									"type": "String"
								},
								"sink": {
									"name": "2007",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2008",
									"type": "String"
								},
								"sink": {
									"name": "2008",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2009",
									"type": "String"
								},
								"sink": {
									"name": "2009",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2010",
									"type": "String"
								},
								"sink": {
									"name": "2010",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2011",
									"type": "String"
								},
								"sink": {
									"name": "2011",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2012",
									"type": "String"
								},
								"sink": {
									"name": "2012",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2013",
									"type": "String"
								},
								"sink": {
									"name": "2013",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2014",
									"type": "String"
								},
								"sink": {
									"name": "2014",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2015",
									"type": "String"
								},
								"sink": {
									"name": "2015",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2016",
									"type": "String"
								},
								"sink": {
									"name": "2016",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2017",
									"type": "String"
								},
								"sink": {
									"name": "2017",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2018",
									"type": "String"
								},
								"sink": {
									"name": "2018",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_src_csv_population",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dst_staging_population",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP Log Pipeline start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[usp_PipelineExecutionHistory_Create]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP Log Pipeline End",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set Status On Success",
						"dependencyConditions": [
							"Skipped",
							"Succeeded"
						]
					},
					{
						"activity": "Set Status On Failure",
						"dependencyConditions": [
							"Skipped",
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[usp_PipelineExecutionHistory_Update]",
					"storedProcedureParameters": {
						"Description": {
							"value": "desc1",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set Failure Description",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy popelation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelinedescription",
					"value": {
						"value": "@{activity('Copy countries').Error.Message}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Status On Success",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy popelation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelinestatus",
					"value": "Completed"
				}
			},
			{
				"name": "Set Status On Failure",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Failure Description",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelinestatus",
					"value": "Failed"
				}
			}
		],
		"variables": {
			"pipelinestatus": {
				"type": "String"
			},
			"pipelinedescription": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}