pipeline/unstatistic-master-extract-uncrimefile.json
{
	"name": "unstatistic-master-extract-uncrimefile",
	"properties": {
		"activities": [
			{
				"name": "SP Log Pipeline start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[usp_PipelineExecutionHistory_Create]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP Log Pipeline End",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[usp_PipelineExecutionHistory_Update]",
					"storedProcedureParameters": {
						"Description": {
							"value": "desc1",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get configuration",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SP Log Pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[adf].[usp_Configuration_Get]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_dst_dummy",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set container",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "container",
					"value": {
						"value": "@activity('Get configuration').output.firstrow.container",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "filepath",
					"value": {
						"value": "@activity('Get configuration').output.firstrow.UNCrimepath",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set filename",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": {
						"value": "@pipeline().parameters.filename",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Truncate  uncrime_untyped",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set container",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set path",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "  TRUNCATE TABLE [staging].[uncrime_untyped];\nSELECT 1;",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_dst_dummy",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Truncate  uncrime_untyped",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_src_csv_countryref",
						"type": "DatasetReference"
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"variables": {
			"container": {
				"type": "String"
			},
			"filepath": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}