pipeline/unstatistic-extract-countries.json
{
	"name": "unstatistic-extract-countries",
	"properties": {
		"activities": [
			{
				"name": "Copy countries",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SP Log Pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE  TABLE  [staging].[countriesref_untyped]",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "name",
									"type": "String"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "alpha-2",
									"type": "String"
								},
								"sink": {
									"name": "alpha-2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "alpha-3",
									"type": "String"
								},
								"sink": {
									"name": "alpha-3",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "country-code",
									"type": "String"
								},
								"sink": {
									"name": "country-code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "iso_3166-2",
									"type": "String"
								},
								"sink": {
									"name": "iso_3166-2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "region",
									"type": "String"
								},
								"sink": {
									"name": "region",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "sub-region",
									"type": "String"
								},
								"sink": {
									"name": "sub-region",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "intermediate-region",
									"type": "String"
								},
								"sink": {
									"name": "intermediate-region",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "region-code",
									"type": "String"
								},
								"sink": {
									"name": "region-code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "sub-region-code",
									"type": "String"
								},
								"sink": {
									"name": "sub-region-code",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "intermediate-region-code",
									"type": "String"
								},
								"sink": {
									"name": "intermediate-region-code",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_src_csv_countryref",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dst_staging_countryref",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP Log Pipeline start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[usp_PipelineExecutionHistory_Create]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP Log Pipeline End",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set status completed",
						"dependencyConditions": [
							"Skipped",
							"Succeeded"
						]
					},
					{
						"activity": "Set status  failed",
						"dependencyConditions": [
							"Skipped",
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[usp_PipelineExecutionHistory_Update]",
					"storedProcedureParameters": {
						"Description": {
							"value": "desc1",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set status completed",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy countries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelinestatus",
					"value": "completed"
				}
			},
			{
				"name": "Set status  failed",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set description",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelinestatus",
					"value": "completed"
				}
			},
			{
				"name": "Set description",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy countries",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelinedescription",
					"value": {
						"value": "@{activity('Copy countries').Error.Message}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"pipelinestatus": {
				"type": "String"
			},
			"pipelinedescription": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}