pipeline/unstatistic-extract-uncrimefile.json
{
	"name": "unstatistic-extract-uncrimefile",
	"properties": {
		"activities": [
			{
				"name": "Copy uncrimefile",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set container",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set path",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "RegionName",
									"type": "String"
								},
								"sink": {
									"name": "RegionName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SubRegionName",
									"type": "String"
								},
								"sink": {
									"name": "SubRegionName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CountryName",
									"type": "String"
								},
								"sink": {
									"name": "CountryName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Year",
									"type": "String"
								},
								"sink": {
									"name": "Year",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Count",
									"type": "String"
								},
								"sink": {
									"name": "Count",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_src_csv_uncrimefile",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@variables('container')",
								"type": "Expression"
							},
							"path": {
								"value": "@variables('filepath')",
								"type": "Expression"
							},
							"filename": {
								"value": "@variables('filename')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dst_staging_uncrime",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP Log Pipeline start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[usp_PipelineExecutionHistory_Create]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP Log Pipeline End",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update file name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[usp_PipelineExecutionHistory_Update]",
					"storedProcedureParameters": {
						"Description": {
							"value": "desc1",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get configuration",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SP Log Pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[adf].[usp_Configuration_Get]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_dst_dummy",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set container",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "container",
					"value": {
						"value": "@activity('Get configuration').output.firstrow.container",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "filepath",
					"value": {
						"value": "@activity('Get configuration').output.firstrow.UNCrimepath",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set filename",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": {
						"value": "@pipeline().parameters.filename",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Update file name",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy uncrimefile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "\n  UPDATE [staging].[uncrime_untyped]\n  SET [FileName] = 'bribery'\n  WHERE [FileName] IS NULL\nSELECT 1;",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_dst_dummy",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string"
			}
		},
		"variables": {
			"container": {
				"type": "String"
			},
			"filepath": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			},
			"pipelinestatus": {
				"type": "String"
			},
			"pipelinedescription": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}